.homepage,
.homepage * {
  box-sizing: border-box;
}
.homepage {
  background: #ffffff;
  height: 2092px;
  position: relative;
  overflow: hidden;
}
.we-re-farmers-purveyors-and-eaters-of-organically-grown-food {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  right: 203px;
  left: 217px;
  top: 279px;
}
.we-re-farmers-purveyors-and-eaters-of-organically-grown-food-span {
  font-family: "Newsreader-Regular", sans-serif;
}
.we-re-farmers-purveyors-and-eaters-of-organically-grown-food-span2 {
  font-family: "Newsreader-Italic", sans-serif;
  font-style: italic;
}
.button {
  background: #426b1f;
  border-radius: 8px;
  padding: 19px 32px 19px 32px;
  width: 227px;
  height: 64px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 481px;
  overflow: hidden;
}
.browse-our-shop {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-believe-in-produce-tasty-produce-produce-like-apples-oranges-limes-lemons-guavas-carrots-cucumbers-jicamas-cauliflowers-brussels-sprouts-shallots-japanese-eggplants-asparagus-artichokes-jerusalem-artichokes-too-radishes-broccoli-baby-broccoli-broccolini-bok-choy-scallions-ginger-cherries-raspberries-cilantro-parsley-dill-what-are-we-forgetting-oh-onions-yams-avocados-lettuce-arugula-to-some-rocket-persian-cucumbers-in-addition-to-aforementioned-normal-cucumbers-artichokes-zucchinis-pumpkins-squash-what-some-cultures-call-pumpkins-sweet-potatoes-and-potato-potatoes-jackfruit-monk-fruit-fruit-of-the-loom-fruits-of-our-labor-this-website-sorrel-pineapple-mango-gooseberries-blackberries-tomatoes-heirloom-tomatoes-beets-chives-corn-endive-escarole-which-we-swear-we-re-vendors-of-organic-produce-but-if-you-asked-us-to-describe-what-escaroles-are {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 309px;
  top: 1550px;
  width: 822px;
}
.what-we-believe {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.04em;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 96px;
  top: 1555px;
  width: 181px;
}
.jonathan-kemper-1-h-hrd-io-l-fp-u-unsplash-1 {
  height: 693px;
  position: absolute;
  right: 840px;
  left: 96px;
  top: 701px;
  object-fit: cover;
}
.central-california-the-person-who-grew-these-was-located-in-central-california-and-er-hopefully-very-well-compensated {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  right: 44px;
  left: 660px;
  top: 1287px;
}
.central-california-the-person-who-grew-these-was-located-in-central-california-and-er-hopefully-very-well-compensated-span {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}
.central-california-the-person-who-grew-these-was-located-in-central-california-and-er-hopefully-very-well-compensated-span2 {
  font-family: "Inter-Light", sans-serif;
  font-weight: 300;
}
.header {
  height: 112px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.world-peas {
  color: #426b1f;
  text-align: left;
  font-family: "Newsreader-Medium", sans-serif;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 96px;
  top: 41px;
}
.shop {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 657px;
  top: 45.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newstand {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 532px;
  top: 45.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.who-we-are {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 394px;
  top: 45.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-profile {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 270px;
  top: 45.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-button {
  background: #426b1f;
  border-radius: 8px;
  padding: 14px 23px 14px 23px;
  width: 126px;
  height: 48px;
  position: absolute;
  right: 96px;
  top: 32px;
  overflow: hidden;
}
.basket-3 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stocksy-txp-226-f-62-b-2-a-ne-300-medium-4582193-1 {
  height: 480px;
  position: absolute;
  right: 0px;
  left: 660px;
  top: 791px;
  object-fit: cover;
}
